form input,
form textarea {
  border: none;
  border-bottom: 3px solid rgba(0, 0, 0, 0.2);
  padding: 0.8em 0.5em;
  transition: all 0.2s;
  font-size: 1.3rem;
}

input:active,
input:focus,
textarea:active,
textarea:focus {
  outline: none;
  border-color: #3c6faa;
}

input::placeholder,
textarea::placeholder {
  font-size: 1.3rem;
  transition: all 0.2s;
}
input:active::placeholder,
input:focus::placeholder,
textarea:active::placeholder,
textarea:focus::placeholder {
  color: rgba(0, 0, 0, 0.2);
}
button {
  background-color: #6dc993;
  padding: 0.4em 2em;
  color: black;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.text-input {
  justify-content: center;
  align-items: center;
}
.text-title {
  font-weight: 650;
  width: 2em;
  margin-bottom: -4em;
}
.center {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  padding: 0;
}
.margin-left {
  margin-left: 5%;
}
