/* Profile Section */
h2 {
  font-size: 32px;
}

.profile {
  height: 100vh;
}

.profileinfo-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-right: 5em;
  margin-left: 5em;
}
/* Profile Section */

/* Post Section */
.top-area {
  display: flex;
  justify-content: space-between;
}

.name {
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

img {
  object-fit: cover;
  height: 300px;
  width: 300px;
  margin-top: 10px;
}

.like-comment,
.likes,
.description {
  margin-top: 10px;
  margin-bottom: 10px;
}

#comment {
  margin-left: 10px;
}

.allposts,
.post-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 20px;
}

.posts {
  display: grid;
  justify-content: center;
  align-items: center;
}

.feed-posts {
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.post-info {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  justify-content: center;
  align-items: center;
}
/* Post Section */

/* Explore Section */
.searchbar {
  width: 50%;
  padding: 20px;
  margin: 0 auto;
}
/* Explore Section */

/* Comment Form & Button */
.comment-form {
  display: flex;
  margin-top: 20px;
}

.comments-info {
  margin: 20px 0 20px 0;
}

.margin-left {
  margin-left: 5%;
}
/* Comment Form & Button */
