/* Profile Section */
h2 {
  font-size: 32px;
}

.profile {
  height: 100vh;
}

.profileinfo-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-right: 5em;
  margin-left: 5em;
}
/* Profile Section */

/* Post Section */
.top-area {
  display: flex;
  justify-content: flex-start;
}

.name {
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-left: 15px;
  margin-right: 90px;
  cursor: pointer;
}

img {
  object-fit: cover;
  height: 300px;
  width: 300px;
  margin-top: 2px;
}

.img-area {
  margin-top: 5px;
}

.like-comment,
.likes,
.description {
  margin-top: 10px;
  margin-bottom: 10px;
}

#comment {
  margin-left: 10px;
}

.allposts,
.post-section,
.feed-posts {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.posts {
  display: grid;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.feed-posts {
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.post-info {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  justify-content: center;
  align-items: center;
}
/* Post Section */

/* Explore Section */
.heading {
  font-size: 28px;
}

.searchbar {
  width: 40%;
  padding: 20px;
  margin: 0 auto;
}
/* Explore Section */

/* Comment Form & Button */
.comment-form {
  display: flex;
  margin-top: 20px;
}

.comments-info {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  margin-top: 10px;
}

.comment {
  margin-top: 14px;
}

.delete-comment {
  margin-left: 10px;
}

.margin-left {
  margin-left: 5%;
}
/* Comment Form & Button */

/* Notification Area */
.notifs {
  margin: 0 auto;
  width: 400px;
}

.notification-area {
  display: grid;
  justify-content: center;
  align-items: center;
  margin: 20px;
  background-color: #ffe57f;
}

.notification {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 10px;
  color: #424242;
}

.notif-message {
  margin-right: 20px;
}

.delete-notif-button {
  margin-top: 7px;
}

/* Notification Area */

/* Choosing Avatar */
.set-avatar-button {
  display: grid;
  justify-content: center;
  align-content: center;
  margin-top: 30px;
}

.choose-avatar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  padding: 30px;
}

.allavatars {
  margin: 0 auto;
  cursor: pointer;
}

.the-avatar {
  width: 125px;
  height: 125px;
}

.yellowBorder {
  background-color: #ffe57f;
}

.noBorder {
  background-color: none;
}
/* Choosing Avatar */
