.create-post {
  display: grid;
  justify-content: center;
  align-content: center;
  margin-top: 1em;
}

.create-section {
  background-color: #ffe57f;
  border: 3px solid #424242;
  width: 400px;
  height: 500px;
}

.create {
  display: grid;
  justify-content: center;
  align-content: center;
}

.uploader, .post-button {
  margin-top: 10px;
  margin-bottom: 10px;
}